<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <label for="">New Skill:</label>
  <input type="text" name="skill">
  <label for="">Description:</label>
  <input type="text" name="description">

  <button type="submit">Save New Skill</button>
</form>

<%- include('../partials/footer') %>